<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      /* Стилі електронної пошти повинні бути в рядку */
    </style>
  </head>

  <body>
    <p><%= yield %></p>
<!-- Вміст листа буде вставлено тут -->
  </body>
</html>
